// csu-bmb-oer.scss

$cssColors: (
"aliceblue": "#f0f8ff",
"antiquewhite": "#faebd7",
"aqua": "#00ffff",
"aquamarine": "#7fffd4",
"azure": "#f0ffff",
"beige": "#f5f5dc",
"bisque": "#ffe4c4",
"black": "#000000",
"blanchedalmond": "#ffebcd",
"blue": "#0000ff",
"blueviolet": "#8a2be2",
"brown": "#a52a2a",
"burlywood": "#deb887",
"cadetblue": "#5f9ea0",
"chartreuse": "#7fff00",
"chocolate": "#d2691e",
"coral": "#ff7f50",
"cornflowerblue": "#6495ed",
"cornsilk": "#fff8dc",
"crimson": "#dc143c",
"cyan": "#00ffff",
"darkblue": "#00008b",
"darkcyan": "#008b8b",
"darkgoldenrod": "#b8860b",
"darkgray": "#a9a9a9",
"darkgreen": "#006400",
"darkgrey": "#a9a9a9",
"darkkhaki": "#bdb76b",
"darkmagenta": "#8b008b",
"darkolivegreen": "#556b2f",
"darkorange": "#ff8c00",
"darkorchid": "#9932cc",
"darkred": "#8b0000",
"darksalmon": "#e9967a",
"darkseagreen": "#8fbc8f",
"darkslateblue": "#483d8b",
"darkslategray": "#2f4f4f",
"darkslategrey": "#2f4f4f",
"darkturquoise": "#00ced1",
"darkviolet": "#9400d3",
"deeppink": "#ff1493",
"deepskyblue": "#00bfff",
"dimgray": "#696969",
"dimgrey": "#696969",
"dodgerblue": "#1e90ff",
"firebrick": "#b22222",
"floralwhite": "#fffaf0",
"forestgreen": "#228b22",
"fuchsia": "#ff00ff",
"gainsboro": "#dcdcdc",
"ghostwhite": "#f8f8ff",
"gold": "#ffd700",
"goldenrod": "#daa520",
"gray": "#808080",
"green": "#008000",
"greenyellow": "#adff2f",
"grey": "#808080",
"honeydew": "#f0fff0",
"hotpink": "#ff69b4",
"indianred": "#cd5c5c",
"indigo": "#4b0082",
"ivory": "#fffff0",
"khaki": "#f0e68c",
"lavender": "#e6e6fa",
"lavenderblush": "#fff0f5",
"lawngreen": "#7cfc00",
"lemonchiffon": "#fffacd",
"lightblue": "#add8e6",
"lightcoral": "#f08080",
"lightcyan": "#e0ffff",
"lightgoldenrodyellow": "#fafad2",
"lightgray": "#d3d3d3",
"lightgreen": "#90ee90",
"lightgrey": "#d3d3d3",
"lightpink": "#ffb6c1",
"lightsalmon": "#ffa07a",
"lightseagreen": "#20b2aa",
"lightskyblue": "#87cefa",
"lightslategray": "#778899",
"lightslategrey": "#778899",
"lightsteelblue": "#b0c4de",
"lightyellow": "#ffffe0",
"lime": "#00ff00",
"limegreen": "#32cd32",
"linen": "#faf0e6",
"magenta": "#ff00ff",
"maroon": "#800000",
"mediumaquamarine": "#66cdaa",
"mediumblue": "#0000cd",
"mediumorchid": "#ba55d3",
"mediumpurple": "#9370db",
"mediumseagreen": "#3cb371",
"mediumslateblue": "#7b68ee",
"mediumspringgreen": "#00fa9a",
"mediumturquoise": "#48d1cc",
"mediumvioletred": "#c71585",
"midnightblue": "#191970",
"mintcream": "#f5fffa",
"mistyrose": "#ffe4e1",
"moccasin": "#ffe4b5",
"navajowhite": "#ffdead",
"navy": "#000080",
"oldlace": "#fdf5e6",
"olive": "#808000",
"olivedrab": "#6b8e23",
"orange": "#ffa500",
"orangered": "#ff4500",
"orchid": "#da70d6",
"palegoldenrod": "#eee8aa",
"palegreen": "#98fb98",
"paleturquoise": "#afeeee",
"palevioletred": "#db7093",
"papayawhip": "#ffefd5",
"peachpuff": "#ffdab9",
"peru": "#cd853f",
"pink": "#ffc0cb",
"plum": "#dda0dd",
"powderblue": "#b0e0e6",
"purple": "#800080",
"rebeccapurple": "#663399",
"red": "#ff0000",
"rosybrown": "#bc8f8f",
"royalblue": "#4169e1",
"saddlebrown": "#8b4513",
"salmon": "#fa8072",
"sandybrown": "#f4a460",
"seagreen": "#2e8b57",
"seashell": "#fff5ee",
"sienna": "#a0522d",
"silver": "#c0c0c0",
"skyblue": "#87ceeb",
"slateblue": "#6a5acd",
"slategray": "#708090",
"slategrey": "#708090",
"snow": "#fffafa",
"springgreen": "#00ff7f",
"steelblue": "#4682b4",
"tan": "#d2b48c",
"teal": "#008080",
"thistle": "#d8bfd8",
"tomato": "#ff6347",
"transparent": "#00000000",
"turquoise": "#40e0d0",
"violet": "#ee82ee",
"wheat": "#f5deb3",
"white": "#ffffff",
"whitesmoke": "#f5f5f5",
"yellow": "#ffff00",
"yellowgreen": "#9acd32",
);

$primary: #1E4D2B;
$secondary: #59595B;
$success: #C8C372;
$info: #12A4B6;
$warning: #ECC530;
$danger: #D9782D;
$light: #FFF;
$dark: #105456;

$font-family-base: 'prox-regular', sans-serif;
$headings-font-family: 'factoria-book', sans-serif;

@import "../../node_modules/bootstrap/scss/bootstrap";

@each $color, $value in $cssColors  {
    .text-#{$color} {
        color: #{$color};
    }
}

.link-light:hover {
    color: $gray-500 !important;
}

a>img{
    @extend .link-light;
}
#svgSignature{
    @extend .h3, .mb-0, .text-end;
    line-height: 45px;

}

@import url("https://static.colostate.edu/fonts/factoria/factoria.css");
    /* font-families (all include normal and italic font-styles)
            factoria-thin
            factoria-light
            factoria-book (includes bold font-weight)
            factoria-medium
            factoria-demi
            factoria-black
            factoria-ultra
    */
@import url("https://static.colostate.edu/fonts/proxima-nova/proxima.css");
    /* font-families (all include normal and italic font-styles)
        prox-thin
        prox-light
        prox-regular (includes bold font-weight)
        prox-semibold
        prox-extra-bold
        prox-black
    */

body {
    min-width: 375px;
}
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    overflow: hidden;
}

@media (min-width: 768px){
    body {
        height: 100vh !important;
    }
}

@media all and (-ms-high-contrast: none),(-ms-high-contrast: active){
    .brandbar svg{
        height: 50px !important;
    }
}
.brandbar{
    min-height: 68px;
}
.brandbar .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.brandbar .row div.signature{
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    width:auto;
}
@media (max-width: 767px){
    .brandbar .row div.signature{
        width: 100%;
        flex: initial;
    }
}
#logoGroup{
    box-sizing: content-box;
    display:inline-flex;
    line-height:0;
}
div#primaryLogo{
    box-sizing: border-box;
    display: inherit;
    align-self: stretch;
    align-items: center;
    width: 124px;
    min-width: 124px;
}
div#primaryLogo *{
    box-sizing: border-box;
}
@media screen and (min-width: 600px){
    div#primaryLogo{
        width:187px;
        min-width:187px
    }
}
@media screen and (min-width: 800px){
    div#primaryLogo{
        width:384px;
        min-width:384px
    }
}
div#primaryLogo h1{
    padding:5px 0px 5px 0px;
    margin:0;
    display:block;
    overflow-x:hidden;
    width:100%;
}
div#primaryLogo a {
    display: block;
}
div#primaryLogo [id=svgSignature]{
    display:block;
    height:45px;
    width: 100%;
    text-align:center;
}
#secondaryLogo{
    display: inherit;
    position: relative;
    align-self: stretch;
    align-items: center;
    margin: 8px 0;
    padding-left: 32px;

}
#secondaryLogo:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-left: 2px solid white;
    margin-left: 15px;
    z-index:0
}
#secondaryLogo h2{
    font-family: 'prox-light', sans-serif !important;
    color: $light;
    margin: 0px;
    letter-spacing: .11em;
    line-height: 1.1em;
    font-size: 1.2em;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
#secondaryLogo h2 a{
    color: inherit;
    text-decoration: none;
}
.pageTitle{
    align-items: center;
    background-color: $success;
    text-align: center;
}
.pageTitle *{
    margin-bottom: 0;
}

#headerNavbarContent {
    background-color: shade-color($primary, 20%);
}

@media (max-width: 576px) {
    #headerNavbarContent.show, #headerNavbarContent.collapsing {
        display: flex !important;
    }
    #headerNavbarContent.show .row,  #headerNavbarContent.collapsing .row{
        flex-direction: column;
    }
    #searchForm {
        order: 2;
    }
    #loginDropdown {
        order: 1;
    }
}

/* Article styles */
#articleHtml button, .interactive[type='button'] {
    @extend .btn-sm;
    @extend .btn-outline-info;
}


#applet {
    max-height: 100vh;
}
#jsmolApplet_canvas2d {
    @extend .rounded-3;
}

/* CKEditor styles */
.ck-editor {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    height: 100% !important;
    overflow-x: hidden;
    overflow-y: auto;

}
.ck-editor__main {
    flex-grow: 1;
    overflow-y: hidden;
}
.ck-editor__editable {
    height: 100%;
}
